In [2]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [3]:
#df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                   "B":[5, 2, 54, 3, 2],  
                   "C":[20, 16, 7, 3, 8], 
                   "D":[14, 3, 17, 2, 6]}) 
  
print(df)
df.sub(df.mean(axis=1), axis=0)                  # sub: Get Subtraction of dataframe and other, element-wise

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

       A      B      C      D
0  -0.75  -7.75   7.25   1.25
1  -2.25  -4.25   9.75  -3.25
2 -15.75  33.25 -13.75  -3.75
3  31.00 -10.00 -10.00 -11.00
4  -3.25  -2.25   3.75   1.75

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [5]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df
df.sum().idxmin()              # Return index of first occurrence of minimum over requested axis.

'h'