In [2]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [3]:
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
print(df)
df.sub(df.mean(axis=1), axis=0)                  # sub: Get Subtraction of dataframe and other, element-wise

          0         1         2
0  0.706485  0.583313  0.554750
1  0.621115  0.187215  0.553931
2  0.654085  0.255598  0.120530
3  0.312236  0.251976  0.167626
4  0.946215  0.250284  0.030442

          0         1         2
0  0.091635 -0.031536 -0.060099
1  0.167028 -0.266872  0.099844
2  0.310681 -0.087806 -0.222874
3  0.068290  0.008030 -0.076320
4  0.537235 -0.158697 -0.378538

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [5]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df
df.sum().idxmin()              # Return index of first occurrence of minimum over requested axis.

'h'