In [5]:
# import the needed libraries and datasets
import numpy as np
import pandas as pd

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels. Try not to use `.iterrows()`)

In [7]:
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

In [8]:
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

#print(type(data))
df = pd.DataFrame.from_dict(data)
df
df.isna().sum()
# Suppose that exactly 5 entries in each row are NaN values. 
# df2 = pd.DataFrame(np.random.randn(5, 3))
# For each row of the DataFrame, find the column which contains the third NaN value.
#df2
print(df.isna().sum() ==3)
df.columns[(df.isna().sum() ==3)]

1     False
2     False
3     False
4      True
5     False
6      True
7     False
8      True
9     False
10    False
dtype: bool

Int64Index([4, 6, 8], dtype='int64')

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [9]:
import pandas as pd

df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df
df.groupby('grps')['vals'].apply(lambda grp: grp.nlargest(3).sum())    # yea..

grps
a    409
b    156
c    345
Name: vals, dtype: int64